# Core Dependencies
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
tqdm

# Deep Learning Frameworks
tensorflow
torch
torchvision
torchaudio

# Generative AI and Transformers
transformers
diffusers
datasets
accelerate

# Additional Utilities
opencv-python
pillow
imageio
plotly
huggingface_hub
openai


# Development Tools
jupyterlab
notebook
ipywidgets
black
flake8
isort
